/* ===================================
========= register page  */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #3a449e 0%, #6790ff 100%);
  }

  h4 {
    text-align: center;
    font-family: "poppins";
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
      }
  
  .form-container form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "poppins";
  }
  
  .form-container form input {
    border: none;
    font-size: 13px;
    border-bottom: 1px solid #b6b5b5;
    font-weight: 400;
    border-radius: 0;
  }
  
  .form-container form button {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-color: #6594f8;
    color: white;
    width: 285px;
  }
  
  .form-container form button:hover {
    border: 1px solid rgb(119, 168, 241);
    background: linear-gradient(
      to right,
      #4f70ff,
      #226fff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }